.card {
  max-width: 600px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p,
h2 {
  margin: 0;
}
.info {
  margin-left: 25px;
}
.action {
  margin-right: 25px;
}
.material-icons {
  font-size: 30px;
  cursor: pointer;
}
.name {
  font-size: 16px;
}
.button__create {
  margin-bottom: 30px;
  text-align: right;
  margin-right: 323px;
}
